@model IEnumerable<SistemaClinicaRelatorio.Domain.DTO.DoctorDTO>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.person.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.person.name)
                </td>

                <td>
                    <a class="btn btn-primary" asp-action="DoctorQueryReport" asp-route-id="@item.id">Relatório de Consultas</a>
                </td>
            </tr>
        }
    </tbody>
</table>